<div class="center hero-unit">
  <h1>Lunch Push</h1>

  <h2>
    Hold up a sec...
  </h2>
  <% if signed_in? %>
  <%= form_for(@lunch) do |f| %>
  	<%= f.submit "Create a lunch!", class: "btn btn-large btn-primary" %>
  <% end %>
  <% end %>
</div>