<li id="<%= feed_item.id %>">
	<span class="name">￼<%= link_to feed_item.name, feed_item.website %></span>
	<span class="timestamp">
		Added <%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>
	<%= render partial: 'restaurants/delete_restaurant', locals: { object: feed_item } %>
</li>