<%= provide(:title, 'Lunch') %>
<div class="row">
	<div class="span8">
		<% if @restaurants %>
		  <h3>Restaurants (<%= @lunch.restaurants.count %>)</h3>
		<ol class="restaurants">
		  	<%= render @restaurants %>
		</ol>
		<% end %>
		<%= render 'restaurant_form' %>
    </div>
</div>